<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile </title>
</head>
<style>
    h1 {
        text-align: center;
    }
    body {
       background-color: bisque;
    }
</style>
<body>
    <a href="{{ url_for('main') }}">Main</a>    
    <a href="{{ url_for('home') }}">Home</a>    
    <a href="{{ url_for('profile') }}">Profile</a>   

    <h1>This is My profile </h1>
    <p>Welcome to my profile</p>
</body>
</html>