<!DOCTYPE html>
<html>

<head>
    <title>Input Page</title>
</head>

<body>
    <h1>Input User Data</h1>
    <form method="POST" action="/home">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" placeholder="Firstname"><br><br>
        
        <label for="midname">Middle Name:</label>
        <input type="text" id="midname" name="midname" placeholder="Middlename"><br><br>
        
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" placeholder="Lastname"><br><br>
        
        <label for="tel">Contact Number:</label>
        <input type="text" id="tel" name="tel" placeholder="Contact"><br><br>
        
        <label for="usn">Student Number (USN):</label>
        <input type="text" id="usn" name="usn" placeholder="Student Number"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>

</html>
